@use '@carbon/themes/scss/themes' as *;
@use '@carbon/themes';

:root {
    @include themes.theme($g100);
}

* {
    margin: 0;
    padding: 0;
  }

html {
    background: #dbdce4;
    -webkit-font-smoothing: antialiased;
    font-family: 'Inter', sans-serif;
}

.webgl {
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
    z-index: -1;
}