@use '@carbon/themes/scss/themes' as *;
@use '@carbon/themes';
@use '@carbon/layout';
@use '@carbon/grid';
@use '@carbon/type';

@include grid.flex-grid();

@mixin grid {}

// Include type reset
@include type.reset();

// Include default type styles, targets h1, h2, h3, etc
@include type.default-type();

// Include utility classes for type-related properties
@include type.type-classes();

:root {
    @include themes.theme($g100);
}

body {
    margin: 0;
    padding: 0;
}

html {
    background: #dbdce4;
    -webkit-font-smoothing: antialiased;
    font-family: 'Inter', sans-serif;
}